spring:
  datasource:
    url: jdbc:mysql://localhost:3306/matricula_utp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    username: tu_usuario
    password: tu_password
    driver-class-name: com.mysql.cj.jdbc.Driver
